@import "tailwindcss";

:root {
  --background: #f8fafc; /* slate-50 */
  --foreground: #061937; /* brand-dark */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-montserrat), ui-sans-serif, system-ui, sans-serif;
  
  /* Identidade Visual LiderSys */
  --color-brand-primary: #015CFA;
  --color-brand-primary-hover: #014ECA; /* slightly darker for hover */
  --color-brand-dark: #061937;
  --color-brand-red: #A10000;
  --color-brand-red-hover: #8A0000;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

html, body { min-height: 100%; }
body { overflow-x: hidden; }
